.cardsContainer {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.cardsContainer div:first-child {
  width: 30%;
}

.cardsContainer span {
  font-weight: 100;
  color: var(--heroRed);
  letter-spacing: 0.2rem;
}

.cardsContainer h3 {
  color: black;
  font-weight: 600;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.cardsContainer div:last-child {
  width: 30%;
  line-height: 2rem;
  color: black;
  text-align: end;
}

.grigliaCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.protagoraContainer {
  background-color: var(--heroTartaro);
  margin: 3rem 0;
  padding: clamp(4rem, 11vw, 14rem) clamp(1rem, 8vw, 12rem);
  text-align: center;
  border-top: 10px double var(--heroRed);
  border-bottom: 10px double var(--heroRed);
}

.protagoraContainer cite {
  color: var(--heroRed);
  font-size: clamp(2rem, 7vw, 5rem);
}

.protagoraContainer p {
  color: var(--heroCream);
  font-size: clamp(1.3rem, 4vw, 2.5rem);
  margin: 3rem 0;
  font-style: italic;
}

.protagoraContainer span {
  font-size: clamp(0.9rem, 2vw, 1.25rem);
  color: var(--heroEarth);
}

@media (max-width: 1024px) {
  .cardsContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .cardsContainer div:first-child,
  .cardsContainer div:last-child {
    width: 100%;
  }

  .cardsContainer div:last-child {
    text-align: start;
    line-height: 1.7;
  }

  .grigliaCards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .grigliaCards {
    grid-template-columns: repeat(2, 1fr);
  }

  .protagoraContainer {
    margin: 2rem 0;
  }

  .protagoraContainer p {
    margin: 1.5rem 0;
  }
}

@media (max-width: 520px) {
  .grigliaCards {
    grid-template-columns: 1fr;
  }
}
