#navBarContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 3rem;
}

#navBarContainer div img {
  width: 5rem;
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  margin: 0 5rem 0 0;
  font-weight: 600;
  color: var(--heroCream);
}

.menu li a:hover {
  color: var(--heroRed);
}

.annoMenu {
  font-weight: 600;
  color: var(--heroCream);
}
