* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8dfd0;
  background-size: cover;
}

#principalContainer {
  padding: 0 4rem;
  border-top: 10px double var(--heroRed);
}

#headerContainer {
  background-image: linear-gradient(rgb(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(./sfondoHero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  width: 100%;
  background-color: var(--heroTartaro);
}
